<button type="button" class="add" data-toggle="modal" data-target="#addModal">Add Movie</button>

<div>
  <div>Filter by:</div>
  <div>
    <input type='text' [(ngModel)]='term' />
  </div>
</div>

<!--Buttons for sorting-->
<button class="btn btn-default" [class.active]="sortBy==='title'" (click)="sortBy='title'">SortByTitle</button>
<button class="btn btn-default" [class.active]="sortBy==='year'" (click)="sortBy='year'">SortByYear</button>



<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>
        <h4>#</h4>
      </th>
      <th>
        <h4>Title</h4>
      </th>
      <th>
        <h4>Genre</h4>
      </th>
      <th>
        <h4>Year</h4>
      </th>
      <th width="10%"></th>
      <th width="10%"></th>
      <th width="10%"></th>
      <th width="5%"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vhs of (tapes | free) | filter: term" [class.selected]="vhs === selectedVhs" (click)="onSelect(vhs)">
      <th scope="row">{{vhs.id}}</th>
      <td data-toggle="modal" data-target="#detailsModal">{{vhs.title}}</td>
      <td>{{vhs.genre}}</td>
      <td>{{vhs.year}}</td>
      <td>{{vhs.status}}</td>
      <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#detailsModal">details</button> </td>
      <td><button type="button" class="btn btn-primary" (click)="rent(vhs)">rent</button> </td>
      <td><button type="button" class="btn btn-inverse" data-toggle="modal" data-target="#editModal">edit</button> </td>
      <td><button class="btn btn-danger" (click)="delete(vhs); $event.stopPropagation()">x</button> </td>
    </tr>

  </tbody>
</table>







<!-- Modal for details-->
<div class="modal fade" id="detailsModal" role="dialog" background=black>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Movie details</h4>
      </div>
      <div class="modal-body">
        <vhs-detail [vhs]="selectedVhs"></vhs-detail>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<!-- Modal for edit-->
<div class="modal fade" id="editModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit movie</h4>
      </div>
      <div class="modal-body">
        <vhs-edit [vhs]="selectedVhs"></vhs-edit>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>






<div class="modal fade" id="addModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add new tape</h4>
      </div>
      <div class="modal-body">
        <!-- Add tape form -->
        <form id="add-tape" class="navbar-form navbar-left">
          <div>
            <label>Id: </label>
            <input name="id" type="text" class="form-control" [(ngModel)]="id" />
            <label>Title: </label>
            <input name="title" type="text" class="form-control" [(ngModel)]="title" />
            <label>Genre: </label>
            <input name="title" type="text" class="form-control" [(ngModel)]="genre" />
            <label>Director: </label>
            <input name="director" type="text" class="form-control" [(ngModel)]="director" />
            <label>Stars: </label>
            <input name="stars" type="text" class="form-control" [(ngModel)]="stars" />
            <label>Release year: </label>
            <input name="year" type="text" class="form-control" [(ngModel)]="year" />

          </div>
          <div>
            <label>Description: </label>
            <textarea name="description" class="form-control" rows="5" id="comment" [(ngModel)]="description"></textarea>

            <label>Status: </label>
            <input name="status" type="text" class="input-xlarge uneditable-input" id="disabledInput" placeholder="free" disabled=""
            />
            <label>Link to image: </label>
            <input name="image" type="text" class="form-control" [(ngModel)]="image" />
          </div>
          <p></p>
          <button class="btn btn-warning" (click)="add()">Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>