<section id="forms">
  <div *ngIf="vhs">
    <div><img id="cover" src="./img/{{vhs.image}}" style="width: 33%; height: 33%;" align="right" /></div>
    <h2>{{vhs.title}}</h2>
    <div>Title: </div>
    <input type="text" class="input-xlarge" id="input01" [(ngModel)]="vhs.title" placeholder="title" />
    <div>Year: </div>
    <input type="text" class="input-xlarge" id="input01" [(ngModel)]="vhs.year" placeholder="year" />
    <div>Genre: </div>
    <input type="text" class="input-xlarge" id="input01" [(ngModel)]="vhs.genre" placeholder="genre" />
    <div>Director: </div>
    <input type="text" class="input-xlarge" id="input01" [(ngModel)]="vhs.director" placeholder="director" />
    <div>Actors: </div>
    <input type="text" class="input-xlarge" id="input01" [(ngModel)]="vhs.stars" placeholder="stars" />
    <div>Description: </div>
    <textarea type="text" class="input-xlarge" id="textarea" rows="6" [(ngModel)]="vhs.description" placeholder="description"></textarea>
  </div>
</section>